.contact {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  min-width: 300px;
  .photo {
    float: left;
    margin-top: 6%;
  }
  .gender {
    width: 25px;
    float: left;
    margin-top: 20%;
  }
  .name {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
  }
  .number {
    font-family: Luminari, cursive;
  }
}